<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <!--Include contents from nav.ejs on partials folder here-->
  <%- include('./partials/nav.ejs') %>

  <div class="not-found content">
    <h2>Oops, page not found</h2>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>