<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <!--Include contents from nav.ejs on partials folder here-->
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is my first website.</p>
    <p>I created it using Node.js, Express and MongoDB.</p>
    <p>Express router & MVC was also utilized to split up routers into seperate files.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>